@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black-primary-brand-color: #0a0a0a;
    --red-primary-brand-color: #ff2c45;
  }
}

@layer utilities {
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .large_container {
    padding: 6.9rem 6rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 91.666667%;
  }
  .bg-red {
    background-color: #ff2c45;
  }
  .bg-brand {
    background-color: #0a0a0a;
  }
  @media (min-width: 1024px) .container {
    max-width: 80rem;
  }
  @media (min-width: 1536px) .container {
    max-width: 1536px;
  }
  @media (min-width: 1280px) .container {
    max-width: 1280px;
  }
  @media (min-width: 1024px) .container {
    max-width: 1024px;
  }
  @media (min-width: 768px) .container {
    max-width: 768px;
  }
  @media (min-width: 640px) .container {
    max-width: 640px;
  }
  .button-shadow {
    box-shadow: 0 4px 12px 0 hsla(0, 70%, 65%, 0.986);
  }
  .card-shadow {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}
@font-face {
  font-family: "HindSiliguriBold";
  src: url("/fonts/HindSiliguri-Bold.ttf");
}
@font-face {
  font-family: "HindSiliguriLight";
  src: url("/fonts/HindSiliguri-Light.ttf");
}
@font-face {
  font-family: "HindSiliguriMedium";
  src: url("/fonts/HindSiliguri-Medium.ttf");
}
@font-face {
  font-family: "HindSiliguriRegular";
  src: url("/fonts/HindSiliguri-Regular.ttf");
}
@font-face {
  font-family: "HindSiliguriSemiBold";
  src: url("/fonts/HindSiliguri-SemiBold.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
